{{>admin-aside}}


<div class=" content mt-5 ">
  <div class="col-5">
    <p class="h3" >Add new category</p>

    {{#if err}}
    <div>
      <p class="text-danger fw-semibold">{{err}}</p>
    </div>
    {{/if}}
    <form method="post" action="/admin/addcategory" >
      <div class="mb-3 mt-5">
        <label for="exampleInputCategory" class="form-label">category</label>
        <input name="category" type="string" class="form-control" id="exampleInputCategory">
      </div>
      <button type="submit" class="btn btn-primary mt-3 float-center">Submit</button>
    </form>
    
  </div>
</div>

