<section class="d-flex">
  <div style="width: 280px;">
    
      {{>admin-aside}}
   
  </div>
  <div>
    gfgofgoiiogjfkl;gjfilgjfigjiodfgjuiofjgklfjglk;fjkl;jLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit libero volutpat sed cras ornare arcu dui. Diam
    ut venenatis tellus in metus vulputate eu scelerisque. Aliquam ut porttitor leo a diam sollicitudin tempor. Rutrum
    tellus pellentesque eu tincidunt tortor. Justo laoreet sit amet cursus sit amet dictum sit. Quisque egestas diam in
    arcu cursus. Dolor sit amet consectetur adipiscing elit. Gravida neque convallis a cras semper auctor neque vitae
    tempus. Tellus molestie nunc non blandit massa enim nec dui. Sit amet commodo nulla facilisi nullam vehicula ipsum a
    arcu. Ultrices vitae auctor eu augue ut lectus arcu bibendum. A lacus vestibulum sed arcu non odio euismod lacinia
    at. Aliquam vestibulum morbi blandit cursus risus at ultrices mi.

    Eget velit aliquet sagittis id consectetur. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Orci
    phasellus egestas tellus rutrum tellus pellentesque eu. Non tellus orci ac auctor augue mauris augue. Purus in
    mollis nunc sed id semper risus in hendrerit. Rutrum quisque non tellus orci ac auctor augue mauris augue. Suscipit
    adipiscing bibendum est ultricies integer quis auctor. Diam ut venenatis tellus in. Et molestie ac feugiat sed. Sed
    nisi lacus sed viverra. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Mauris pharetra et ultrices
    neque ornare. Vel pharetra vel turpis nunc eget. Varius sit amet mattis vulputate. Mi eget mauris pharetra et
    ultrices neque. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas.

    Mi proin sed libero enim sed faucibus turpis. Nisi scelerisque eu ultrices vitae auctor eu. Id aliquet risus feugiat
    in ante. Dictum at tempor commodo ullamcorper. Orci phasellus egestas tellus rutrum. In pellentesque massa placerat
    duis. Suscipit tellus mauris a diam maecenas sed enim. Est ultricies integer quis auctor elit sed vulputate mi sit.
    Non diam phasellus vestibulum lorem sed risus ultricies tristique. Eget magna fermentum iaculis eu non diam
    phasellus vestibulum lorem. Viverra maecenas accumsan lacus vel facilisis volutpat. Elit at imperdiet dui accumsan.
    Faucibus interdum posuere lorem ipsum dolor sit amet. Nunc scelerisque viverra mauris in aliquam. Convallis aenean
    et tortor at risus viverra adipiscing. Ac ut consequat semper viverra nam libero justo laoreet sit. Eget mi proin
    sed libero enim sed.

    Sit amet nisl purus in mollis nunc sed id semper. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras.
    Faucibus vitae aliquet nec ullamcorper sit. Enim nec dui nunc mattis enim ut tellus elementum sagittis. Elementum eu
    facilisis sed odio morbi quis commodo. Mi quis hendrerit dolor magna eget. Urna cursus eget nunc scelerisque. Neque
    viverra justo nec ultrices. Morbi blandit cursus risus at ultrices mi. Penatibus et magnis dis parturient montes.
    Dictum varius duis at consectetur lorem donec. Nec nam aliquam sem et tortor. Sem nulla pharetra diam sit amet.
    Dignissim diam quis enim lobortis scelerisque fermentum dui.

    Enim sit amet venenatis urna cursus eget nunc. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
    Mattis molestie a iaculis at erat pellentesque. Morbi non arcu risus quis varius. Quam quisque id diam vel quam
    elementum pulvinar. Ac tortor vitae purus faucibus ornare suspendisse sed. Aliquam etiam erat velit scelerisque in.
    Leo a diam sollicitudin tempor id eu nisl nunc mi. Mi eget mauris pharetra et ultrices neque ornare. Et malesuada
    fames ac turpis egestas maecenas pharetra. Morbi tristique senectus et netus et malesuada fames. Tortor aliquam
    nulla facilisi cras. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo.

    Elementum curabitur vitae nunc sed velit dignissim. Nunc sed id semper risus in hendrerit gravida rutrum. Eu non
    diam phasellus vestibulum. Imperdiet nulla malesuada pellentesque elit eget gravida. Diam sollicitudin tempor id eu
    nisl nunc. Egestas dui id ornare arcu odio ut sem nulla. Neque gravida in fermentum et sollicitudin ac orci
    phasellus egestas. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Suspendisse ultrices
    gravida dictum fusce ut. Gravida arcu ac tortor dignissim convallis.

    In cursus turpis massa tincidunt. Ac felis donec et odio pellentesque. Mattis aliquam faucibus purus in massa.
    Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Nec nam aliquam sem et tortor consequat.
    Massa eget egestas purus viverra accumsan in nisl nisi. Eu consequat ac felis donec et odio pellentesque diam
    volutpat. Eget nunc scelerisque viverra mauris in aliquam sem fringilla. Orci porta non pulvinar neque. Et
    sollicitudin ac orci phasellus egestas tellus rutrum tellus. Pellentesque massa placerat duis ultricies lacus sed
    turpis. Sit amet nisl suscipit adipiscing bibendum. Ornare arcu odio ut sem. Vitae ultricies leo integer malesuada
    nunc vel risus. Enim nec dui nunc mattis enim ut tellus elementum sagittis. Pellentesque id nibh tortor id.
    Suspendisse ultrices gravida dictum fusce.

    Ut etiam sit amet nisl purus in. Ornare massa eget egestas purus viverra accumsan in. Viverra ipsum nunc aliquet
    bibendum enim. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi. Rhoncus urna neque viverra justo.
    Lobortis feugiat vivamus at augue eget arcu. Faucibus nisl tincidunt eget nullam non. Id donec ultrices tincidunt
    arcu non sodales neque sodales. Orci nulla pellentesque dignissim enim sit amet venenatis. Commodo odio aenean sed
    adipiscing diam donec adipiscing. Commodo viverra maecenas accumsan lacus vel facilisis. Egestas erat imperdiet sed
    euismod nisi. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Venenatis urna cursus eget nunc
    scelerisque viverra. Fusce id velit ut tortor pretium viverra suspendisse. A lacus vestibulum sed arcu non odio
    euismod lacinia at. Mattis rhoncus urna neque viverra justo.

    Et ultrices neque ornare aenean. Mattis pellentesque id nibh tortor. Porttitor lacus luctus accumsan tortor posuere
    ac ut. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Integer quis auctor elit sed. Orci nulla
    pellentesque dignissim enim sit amet. Non blandit massa enim nec dui. In vitae turpis massa sed. Ultrices mi tempus
    imperdiet nulla malesuada pellentesque elit. Facilisis volutpat est velit egestas dui id ornare. Purus semper eget
    duis at tellus at urna condimentum mattis.

    Tristique risus nec feugiat in fermentum posuere. Diam maecenas sed enim ut sem viverra aliquet eget sit.
    Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Enim blandit volutpat maecenas volutpat blandit
    aliquam etiam erat velit. Augue lacus viverra vitae congue eu consequat ac felis. Morbi tristique senectus et netus
    et malesuada. Tincidunt lobortis feugiat vivamus at. Odio ut enim blandit volutpat. Diam quis enim lobortis
    scelerisque fermentum dui faucibus in. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.
    Non sodales neque sodales ut etiam sit amet. Ut faucibus pulvinar elementum integer enim neque volutpat. Fames ac
    turpis egestas integer. Magnis dis parturient montes nascetur. Pellentesque elit eget gravida cum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Blandit libero volutpat sed cras ornare arcu dui. Diam ut venenatis tellus in metus vulputate eu
    scelerisque. Aliquam ut porttitor leo a diam sollicitudin tempor. Rutrum tellus pellentesque eu tincidunt tortor.
    Justo laoreet sit amet cursus sit amet dictum sit. Quisque egestas diam in arcu cursus. Dolor sit amet consectetur
    adipiscing elit. Gravida neque convallis a cras semper auctor neque vitae tempus. Tellus molestie nunc non blandit
    massa enim nec dui. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Ultrices vitae auctor eu augue ut
    lectus arcu bibendum. A lacus vestibulum sed arcu non odio euismod lacinia at. Aliquam vestibulum morbi blandit
    cursus risus at ultrices mi.

    Eget velit aliquet sagittis id consectetur. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Orci
    phasellus egestas tellus rutrum tellus pellentesque eu. Non tellus orci ac auctor augue mauris augue. Purus in
    mollis nunc sed id semper risus in hendrerit. Rutrum quisque non tellus orci ac auctor augue mauris augue. Suscipit
    adipiscing bibendum est ultricies integer quis auctor. Diam ut venenatis tellus in. Et molestie ac feugiat sed. Sed
    nisi lacus sed viverra. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Mauris pharetra et ultrices
    neque ornare. Vel pharetra vel turpis nunc eget. Varius sit amet mattis vulputate. Mi eget mauris pharetra et
    ultrices neque. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas.

    Mi proin sed libero enim sed faucibus turpis. Nisi scelerisque eu ultrices vitae auctor eu. Id aliquet risus feugiat
    in ante. Dictum at tempor commodo ullamcorper. Orci phasellus egestas tellus rutrum. In pellentesque massa placerat
    duis. Suscipit tellus mauris a diam maecenas sed enim. Est ultricies integer quis auctor elit sed vulputate mi sit.
    Non diam phasellus vestibulum lorem sed risus ultricies tristique. Eget magna fermentum iaculis eu non diam
    phasellus vestibulum lorem. Viverra maecenas accumsan lacus vel facilisis volutpat. Elit at imperdiet dui accumsan.
    Faucibus interdum posuere lorem ipsum dolor sit amet. Nunc scelerisque viverra mauris in aliquam. Convallis aenean
    et tortor at risus viverra adipiscing. Ac ut consequat semper viverra nam libero justo laoreet sit. Eget mi proin
    sed libero enim sed.

    Sit amet nisl purus in mollis nunc sed id semper. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras.
    Faucibus vitae aliquet nec ullamcorper sit. Enim nec dui nunc mattis enim ut tellus elementum sagittis. Elementum eu
    facilisis sed odio morbi quis commodo. Mi quis hendrerit dolor magna eget. Urna cursus eget nunc scelerisque. Neque
    viverra justo nec ultrices. Morbi blandit cursus risus at ultrices mi. Penatibus et magnis dis parturient montes.
    Dictum varius duis at consectetur lorem donec. Nec nam aliquam sem et tortor. Sem nulla pharetra diam sit amet.
    Dignissim diam quis enim lobortis scelerisque fermentum dui.

    Enim sit amet venenatis urna cursus eget nunc. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
    Mattis molestie a iaculis at erat pellentesque. Morbi non arcu risus quis varius. Quam quisque id diam vel quam
    elementum pulvinar. Ac tortor vitae purus faucibus ornare suspendisse sed. Aliquam etiam erat velit scelerisque in.
    Leo a diam sollicitudin tempor id eu nisl nunc mi. Mi eget mauris pharetra et ultrices neque ornare. Et malesuada
    fames ac turpis egestas maecenas pharetra. Morbi tristique senectus et netus et malesuada fames. Tortor aliquam
    nulla facilisi cras. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo.

    Elementum curabitur vitae nunc sed velit dignissim. Nunc sed id semper risus in hendrerit gravida rutrum. Eu non
    diam phasellus vestibulum. Imperdiet nulla malesuada pellentesque elit eget gravida. Diam sollicitudin tempor id eu
    nisl nunc. Egestas dui id ornare arcu odio ut sem nulla. Neque gravida in fermentum et sollicitudin ac orci
    phasellus egestas. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Suspendisse ultrices
    gravida dictum fusce ut. Gravida arcu ac tortor dignissim convallis.

    In cursus turpis massa tincidunt. Ac felis donec et odio pellentesque. Mattis aliquam faucibus purus in massa.
    Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Nec nam aliquam sem et tortor consequat.
    Massa eget egestas purus viverra accumsan in nisl nisi. Eu consequat ac felis donec et odio pellentesque diam
    volutpat. Eget nunc scelerisque viverra mauris in aliquam sem fringilla. Orci porta non pulvinar neque. Et
    sollicitudin ac orci phasellus egestas tellus rutrum tellus. Pellentesque massa placerat duis ultricies lacus sed
    turpis. Sit amet nisl suscipit adipiscing bibendum. Ornare arcu odio ut sem. Vitae ultricies leo integer malesuada
    nunc vel risus. Enim nec dui nunc mattis enim ut tellus elementum sagittis. Pellentesque id nibh tortor id.
    Suspendisse ultrices gravida dictum fusce.

    Ut etiam sit amet nisl purus in. Ornare massa eget egestas purus viverra accumsan in. Viverra ipsum nunc aliquet
    bibendum enim. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi. Rhoncus urna neque viverra justo.
    Lobortis feugiat vivamus at augue eget arcu. Faucibus nisl tincidunt eget nullam non. Id donec ultrices tincidunt
    arcu non sodales neque sodales. Orci nulla pellentesque dignissim enim sit amet venenatis. Commodo odio aenean sed
    adipiscing diam donec adipiscing. Commodo viverra maecenas accumsan lacus vel facilisis. Egestas erat imperdiet sed
    euismod nisi. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Venenatis urna cursus eget nunc
    scelerisque viverra. Fusce id velit ut tortor pretium viverra suspendisse. A lacus vestibulum sed arcu non odio
    euismod lacinia at. Mattis rhoncus urna neque viverra justo.

    Et ultrices neque ornare aenean. Mattis pellentesque id nibh tortor. Porttitor lacus luctus accumsan tortor posuere
    ac ut. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Integer quis auctor elit sed. Orci nulla
    pellentesque dignissim enim sit amet. Non blandit massa enim nec dui. In vitae turpis massa sed. Ultrices mi tempus
    imperdiet nulla malesuada pellentesque elit. Facilisis volutpat est velit egestas dui id ornare. Purus semper eget
    duis at tellus at urna condimentum mattis.

    Tristique risus nec feugiat in fermentum posuere. Diam maecenas sed enim ut sem viverra aliquet eget sit.
    Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Enim blandit volutpat maecenas volutpat blandit
    aliquam etiam erat velit. Augue lacus viverra vitae congue eu consequat ac felis. Morbi tristique senectus et netus
    et malesuada. Tincidunt lobortis feugiat vivamus at. Odio ut enim blandit volutpat. Diam quis enim lobortis
    scelerisque fermentum dui faucibus in. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.
    Non sodales neque sodales ut etiam sit amet. Ut faucibus pulvinar elementum integer enim neque volutpat. Fames ac
    turpis egestas integer. Magnis dis parturient montes nascetur. Pellentesque elit eget gravida cum.
  </div>
</section>