
  <aside class="col-2 mt-2 bg-dark text-white position-fixed admin-aside" style="height: 100vh;">
    <div class="container-fluid mt-3 p-0">
      <ul class="list-group list-group-flush">
       <a href="/admin/" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-layer-group"></i>Dashboard</a>
        <a href="/admin/category" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-border-all"></i>Category</a>
        <a href="/admin/products" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-grip"></i>Products</a>
        <a href="/admin/userslist" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-users"></i>Customers</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-cart-shopping"></i>Orders</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-gear"></i>Settings</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sales Report</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-regular fa-flag"></i>Banner Manage</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa-solid fa-percent"></i>Manage Coupons</a>
      </ul>
    </div>
  </aside>
