
<div class="sidebar ">
  <a class="" href="/admin/"> <i class="fa-solid fa-table-columns"></i>Dashboard</a>
  <a class="" href="/admin/category"><i class="fa-solid fa-border-all"></i>Category</a>
  <a href="/admin/products"><i class="fa-solid fa-grip"></i>Products</a>
  <a href="/admin/userslist"><i class="fa-solid fa-users"></i>Customers</a>
  <a href="/admin/get-orders"><i class="fa-solid fa-cart-shopping"></i>Orders</a>
  <a href="#"><i class="fa-solid fa-gear"></i>Settings</a>
  <a href="/admin/salesreport"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sales Report</a>
  {{!-- <a href="#"><i class="fa-regular fa-flag"></i>Banner
    Manage</a>
  <a href="#"><i class="fa-solid fa-percent"></i>Manage Coupons</a> --}}
</div>
