<div class="container-fluid mt-5 footer-div user-footer">
  <div class="row ms-5">
    <div class="customer-service mt-3  col-sm-3">
      <p class="h5 text-uppercase">customer service</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <div class="information mt-3 col-sm-3">
      <p class="h5 text-uppercase">information</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <div class="social mt-3 col-sm-3">
      <p class="h5 text-uppercase">follow us</p>
      <ul class=" d-flex flex-row p-0">
        <li class="list-group-item"><i class="fa-brands fa-facebook-f"></i></li>
        <li class="list-group-item"><i class="fa-brands fa-instagram"></i></li>
        <li class="list-group-item"><i class="fa-brands fa-x-twitter"></i></li>
      </ul>
    </div>
    <div class="contact mt-3 col-sm-3">
      <p class="h5 text-uppercase">contact us</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>    
  </div>
</div>