<aside class=" mt-5 p-3 text-white bg-dark  user-aside">
  <div class="user-div row  profile-div bg-dark ">
    <div class="col d-flex justify-content-center align-items-center p-0">
      <img src="/images/Logo/avather.jpeg" class="rounded-circle profile-img" alt="...">
    </div>
    <div class=" col p-0 ">
      <p class="m-0">Hello,</p>
      <p class=" text-uppercase user-name fw-bold">{{user.Username}}</p>
    </div>
  </div>
  <div class="container row bg-dark  mt-2 p-2">
    <ul class="list-group side-link  list-group-flush">
      <a ="account-link" href="" class="list-group-item list-group-item-action active-link text-white mt-4"><i
          class="fa-solid fa-user-tie"></i>ACCOUNT</a>
      <a id="orders-link" href="/admin/category" class="list-group-item list-group-item-action  text-white mt-4"><i
          class="fa-solid fa-border-all"></i>MY ORDERS</a>
      <a id="wishlist-link" href="/wishlist" class="list-group-item list-group-item-action  text-white mt-4"><i
          class="fa-solid fa-heart"></i>WISHLIST</a>
      <a id="address-link" href="/manageaddress" class="list-group-item list-group-item-action  text-white mt-4"><i
          class="fa-solid fa-address-book"></i></i>MANAGE ADDRESS</a>
      <a id="logout-link" href="/admin/userslist" class="list-group-item list-group-item-action  text-white mt-4"><i
          class="fa-solid fa-power-off"></i></i>LOGOUT</a>
    </ul>
  </div>
</aside>
