<aside class="user-aside text-white bg-dark">
  <div class="user-div row text-white profile-div bg-dark ">
    <div class="col d-flex justify-content-center align-items-center p-0">
      <img src="/images/Logo/avather.jpeg" class="rounded-circle profile-img" alt="...">
    </div>
    <div class=" col p-0 ">
      <p class="m-0 mt-1">Hello,</p>
      <p class=" text-uppercase user-name fw-bold">{{user.Username}}</p>
    </div>
  </div>

  <a class="bg-dark text-white" id="account-link" href="/myprofile"><i class="fa-solid fa-user-tie"></i>ACCOUNT</a>
  <a class="bg-dark text-white" id="wallet-link" href="/wallet"><i class="fa-solid fa-user-tie"></i>WALLET</a>
  <a class="bg-dark text-white" id="orders-link" href="/view-order"><i class="fa-solid fa-border-all"></i>MY ORDERS</a>
  <a class="bg-dark text-white" id="wishlist-link" href="/wishlist"><i class="fa-solid fa-heart"></i>WISHLIST</a>
  <a class="bg-dark text-white" id="address-link" href="/manageaddress"><i
      class="fa-solid fa-address-book"></i></i>MANAGE ADDRESS</a>
  <a class="bg-dark text-white" id="logout-link" href="/logout"><i class="fa-solid fa-power-off"></i></i>LOGOUT</a>

</aside>