<section style="height: 100vh;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3 p-5">
        <h2 class="text-center fw-bold my-5">WHAT WE DO</h2>
        <p class="fs-5"> Welcome to Quantum Gadgets, your premier destination for cutting-edge technology solutions. At Quantum
          Gadgets,
          we
          understand the pivotal role that laptops and mobile devices play in our daily lives, connecting us to the
          digital
          world and empowering us to achieve more. Our mission is to provide you with a curated selection of top-quality
          laptops and mobile phones, carefully chosen to meet your diverse needs and preferences. With a passion for
          innovation and a commitment to customer satisfaction, we strive to deliver the latest gadgets that seamlessly
          blend
          style, performance, and affordability. Whether you're a tech enthusiast, a professional on the go, or someone
          seeking the perfect device for work and play, Quantum Gadgets is your one-stop shop for all things tech. Join
          us
          on
          this exciting journey as we bring you the future of mobility and computing. Explore our catalog and experience
          the
          Quantum Gadgets difference today!
        </p>
      </div>
    </div>
  </div>

</section>
<div>
  {{>user-footer}}
</div>