
<div class="container ">
  <div class="d-flex cat-btn justify-content-center align-items-center">
    <a href="/category?category=mobile"><button type="button"
        class="btn btn-outline-secondary btn-lg m-1 fw-bolder">MOBILES</button></a>
    <a href="/category?category=Laptop"><button type="button"
        class="btn btn-outline-secondary btn-lg m-1 fw-bolder">LAPTOPS</button></a>
  </div>
</div>
<div class="container-fluid ">
  <div class=" mainDiv" style="width: 100%;">
    <div class="row ms-3 product-container " style="max-height: 500px; overflow-y: scroll;">
      
    </div>
  </div>
</div>
<div>
  {{>user-footer}}
</div>
<script src="/javascripts/wishList.js"></script>