<section class="container user-aside-sec">
  {{>user-aside}}
  <div class="container">
    <div class="m-5 d-flex justify-content-start" style="width: 100%;">
      <div class="card text-bg-primary mb-3 " style="max-width: 18rem;">
        <div class="card-header">Wallet </div>
        <div class="card-body">
          <h5 class="card-title">Your Wallet Balance is</h5>
           <h5 class="card-title text-center my-3  fs-2">₹{{wallet.[0].WalletBalance}}</h5>
          
        </div>
      </div>
    </div>
  </div>
</section>